/* FONT */



$regular: 400;
$bold: 700;

/* VARIABLES */

    /* color primary */
    $cyan: hsl(179, 62%, 43%);
    $Bright-Yellow: hsl(71, 73%, 54%);

    /* color secondary */
    $Light-Gray: hsl(204, 43%, 93%);
    $Grayish-Blue: hsl(218, 22%, 67%);

    /* padding secondary-block */
    $pad: 98px 0 0 90px;

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @font-face {
        font-family: Karla;
        src: url(https://fonts.google.com/specimen/Karla);
    }
}

/* PRIME BLOCK */
.prime-block {
    background-color: #FFFFFF;
    padding: $pad;
    &__title {
        font-size: 32px;
        font-weight: $bold;
        color: $cyan;
    }
    &__subtitle {
        font-size: 24px;
        font-weight: $bold;
        color: $Bright-Yellow;
    }
    &__txt {
        font-size: 22px;
        font-weight: $regular;
        color: $Grayish-Blue;
    }
}

/* SECONDARY BLOCK */
.secondary-block {
    display: flex;
    flex-direction: row;;
    &__suscribe {
        width: 50%;
        padding: $pad;
        background-color: $cyan;
        &--title {
            font-size: 24px;
            font-weight: $bold;
        }
        &--white {
            color: #FFFFFF;
        }
        &--lightGray {
            color: $Light-Gray;
            font-size: 22px;
            font-weight: $regular;
            >span {
                font-size: 42px;
                font-weight: $bold;
            }
        }
        &--price {
            font-size: 22px;
            font-weight: $regular;
        }
        &--btn {
            padding: 40px 200px;
            border-radius: 10px;
            background-color: $Bright-Yellow;
            font-size: 22px;
            font-weight: $bold;
            color: #FFFFFF;
        }
    }
    &__why {
        width: 50%;
        padding: $pad;
        background-color: #4abebd;
        &--white {
            font-size: 24px;
            font-weight: $bold;
            color: #FFFFFF;
        }
        &--lightGray {
            font-size: 19px;
            font-weight: $regular;
            color: $Light-Gray;
        }
    }
}

/* FOOTER */

.attribution { 
    font-size: 11px;
    text-align: center;
    >a {
        color: hsl(228, 45%, 44%);
    }
}