/* FONT */
@font-face {
    font-family: 'karlaregular';
    src: url('../fonts/karla-regular-webfont.eot');
    src: url('../fonts/karla-regular-webfont.eot?') format('embedded-opentype'),
         url('../fonts/karla-regular-webfont.woff') format('woff'),
         url('../fonts/karla-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$regular: 400;
$bold: 700;

/* VARIABLES */

    /* color primary */
    $cyan: hsl(179, 62%, 43%);
    $Bright-Yellow: hsl(71, 73%, 54%);

    /* color secondary */
    $Light-Gray: hsl(204, 43%, 93%);
    $Grayish-Blue: hsl(218, 22%, 67%);

    /* padding secondary-block */
    $pad: 98px 0 0 90px;
    $padMob: 0 0 0 38px;

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.1em;
}

/* PRIME BLOCK */
.prime-block {
    background-color: #FFFFFF;
    padding: $pad;
    &__title {
        padding-bottom: 60px;
        font-size: 2em;
        font-weight: $bold;
        color: $cyan;
    }
    &__subtitle {
        padding-bottom: 27px;
        font-size: 1.5em;
        font-weight: $bold;
        color: $Bright-Yellow;
    }
    &__txt {
        padding-bottom: 90px;
        font-size: 1.4em;
        font-weight: $regular;
        line-height: 48px;
        color: $Grayish-Blue;
    }
}

/* SECONDARY BLOCK */
.secondary-block {
    display: flex;
    flex-direction: row;;
    &__suscribe {
        width: 50%;
        padding: $pad;
        background-color: $cyan;
        &--title {
            padding-bottom: 48px;
            font-size: 1.5em;
            font-weight: $bold;
        }
        &--white {
            color: #FFFFFF;
        }
        &--lightGray {
            padding-bottom: 21px;
            color: $Light-Gray;
            font-size: 1.4em;
            font-weight: $regular;
            >span {
                font-size: 2.55em;
                font-weight: $bold;
            }
        }
        &--price {
            padding-bottom: 67px;
            font-size: 1.4em;
            font-weight: $regular;
        }
        &--btn {
            width: 75%;
            height: 90px;
            border-radius: 10px;
            border-width: 0;
            box-shadow: 10px 10px 42px -8px rgba(0,0,0,0.75);
            background-color: $Bright-Yellow;
            font-size: 1.4em;
            font-weight: $bold;
            color: #FFFFFF;
        }
    }
    &__why {
        width: 50%;
        padding: $pad;
        background-color: #4abebd;
        &--white {
            padding-bottom: 46px;
            font-size: 1.5em;
            font-weight: $bold;
            color: #FFFFFF;
        }
        &--lightGray {
            padding-bottom: 100px;
            font-size: 1.25em;
            font-weight: $regular;
            line-height: 43px;
            color: $Light-Gray;
        }
    }
}

/* FOOTER */

.attribution { 
    font-size: 11px;
    text-align: center;
    >a {
        color: hsl(228, 45%, 44%);
    }
}

/* MOBILE */

@media screen and(max-width: 768px) {

    /* PRIME BLOCK */
    .prime-block {
        width: 86%;
        margin: 0 auto;
        padding: 0;
        &__title {
            padding: 28px 0 25px;
            font-size: 1.25em;
        }
        &__subtitle {
            padding: 0;
            font-size: 1.3em;
        }
        &__txt {
            padding: 20px 0 27px;
            font-size: 1.2em;
            &--mobile {
                display: none;
            }
        }
    }
  
    /* SECONDARY BLOCK */
    .secondary-block {
        display: block;
        margin: 0;
        padding: 0;
        &__suscribe {
            width: 100%;
            margin: 0;
            padding: 0 0 34px 0;
            &--title, &--price, &--lightGray {
                width: 86%;
                margin: 0 auto;
            }
            &--title {
                padding: 34px 0 20px;
                font-size: 1.5em;
            }
            &--price {
                padding: 0 0 22px;
            }
            &--btn {
                display: block;
                margin: 0 auto;
                width: 86%;
                text-align: center;
            }
        }
        &__why {
            width: 100%;
            margin: 0;
            padding: 0;
            &--white, &--lightGray {
                width: 86%;
                margin: 0 auto;
            }
            &--white {
                padding: 34px 0 20px;
            }
            &--lightGray {
                padding: 0 0 24px;
                font-size: 1.2em;
            }
        }
        
    }
    
}